<div class="container" id="support">

    <div class="row">
        <div class="col-md-12">

            <section>


                {{ .Content }}

<iframe style="width: 100%; height: 710px; overflow: auto;" src="https://www.helloasso.com/associations/be-happih/collectes/join-the-behappih-campaign?fbclid=IwAR1jCdgeFP3vhexhZdNJk3FTJ5_UDOJ5Mdxbni7-A2nmy8hHNB0BxoLWFEU">
</iframe>
            </section>

        </div>


        </div>

    </div>
    <!-- /.row -->
</div>

{{ partial "map.html" . }}
